<div id="<%= dom_id bank %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Bank name:</strong>
    <%= bank.bank_name %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this bank", bank, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this bank', edit_bank_path(bank), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
