<div id="<%= dom_id bank %>">
  <div class="flex flex-col">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
        <div class="overflow-hidden">
          <table class="min-w-full">            
            <tbody class="text-sm divide-y divide-gray-100">
              <tr class="border-b">
                <td class="text-sm text-gray-900 font-light py-4 w-96">
                  <div class="text-left">
                    <%= bank.bank_name %>
                  </div>
                </td>
                <% if action_name != "show" %>
                  <td class="text-sm text-gray-900 font-light py-2">
                    <div class="text-right">
                      <%= link_to "Show", bank, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
                    </div>
                  </td>
                  <td class="text-sm text-gray-900 font-light py-2">
                    <div class="text-right">
                      <%= link_to 'Edit', edit_bank_path(bank), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
                    </div>
                  </td>
                <% end %>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>